.container {
    background: #FFFFFF;
    height: 100vh;
    width: 100%;
}

.first_step {
    padding: 20px 30px 30px 30px;
    border-bottom: 8px solid #d9d9d9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.title {
    font-size: 20px;
    color: #000000;
    padding-left: 30px;
    padding-top: 30px;
}

.btn {
    border-radius: 10px;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    background: #FFFFFF;
    color: #707070
}

.btn_active {
    border-radius: 10px;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    background: #DAC1FF;
    color: #FFFFFF
}

.second_step {
    display: grid;
    padding: 20px 30px 0 30px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.next {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 35px;
    width: 347px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 20px;
    background: #DAC1FF;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.third_step {
    padding: 30px;
}

.caption {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    color: #707070;
    padding-bottom: 30px;
}

.list {
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 600px;
}

.list_item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #707070;
}

.list_item:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

.list_item input[type="checkbox"] {
    display: none;
}

.list_item .checkmark {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.list_item input[type="checkbox"]:checked + .checkmark {
    background-color: #DAC1FF;
}

.list_item .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.list_item input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}

.label_wrapper {
    display: flex;
    gap: 10px;
}

.btn_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0 20px;
}

.inquiry {
    width: 50%;
    background-color: #000000;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    color: #FFFFFF;
}

.go_step_four {
    width: 50%;
    background-color: #DAC1FF;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    color: #FFFFFF;
}

.picture {
    width: 414px;
    height: 414px;
    background-color: #e5e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    color: #000000;
    font-weight: 700;
}

.four_content {
    padding: 20px;
}

.four_title {
    color: #000000;
    font-size: 16px;
    margin-bottom: 20px;
}
.option_wrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.option_btn {
    width: 90px;
    height: 60px;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
}

.four_description {
    margin-top: 20px;
    color: black;
    margin-bottom: 10px;
}

.four_content input {
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    text-align: right;
    color: #000000;
}

.four_caption {
    display: flex;
    gap: 5px;
    font-size: 10px;
    color: #A59696;
    margin-top: 5px;
    margin-bottom: 30px;
}

.option_btn_active {
    border: 1px solid #A775F4;
}

.four_done {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;

}

.four_done_btn {
    width: 100%;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #DAC1FF;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}