* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
main,
menu,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video {
    max-width: 100%;
    height: auto;
}
